/*
Primary (orange):#ff9a26
Secondary (dark blue): #001137
Tertiary (peach): #ffecd6
Quaternary (neutral dark blue): #597188
Quinary (bright blue): #0080ff
*/
body {
  background-color: #ffecd6;
  font-family: 'Interstate', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #001137;
}

h1, h2, h3, h4 {
  font-family: 'acier-bat-solid', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
