/*
Primary (orange):#ff9a26
Secondary (dark blue): #001137
Tertiary (peach): #ffecd6
Quaternary (neutral dark blue): #597188
Quinary (bright blue): #0080ff
*/
* {
  border-sizings: border-box;
}
body {
  background-color: #ffecd6;
  font-family: 'Interstate', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #001137;
}

h1, h2, h3, h4 {
  font-family: 'acier-bat-solid', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #597188;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #ff9a26;
}
a:hover {
  color: #001137;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #ff9a26;
}
.button:hover {
  color: #001137
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button { /*must be towards bottom*/
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #597188;
  color: #ffecd6; /* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #001137; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button.contact {
  background-color: transparent;
  color: #001137;
  text-transform: uppercase;
  border: 2px solid #001137;
}
.button.contact:hover {
  background-color: #ff9a26;
  color: #001137;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;  /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
  margin: 0 0 0 0;
  padding: 0;
}
#hero {
  background-color: #ff9a26;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 133px;
}
.logo {
  max-width: 250px;
}
header {
  background-color: #597188;
  text-align: center;
  padding: 10px 0;
  box-shadow: 7px 7px 5px 0px rgba(0, 17, 55, 0.75);
  width: 100%;
  position: fixed;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a { /*The above code only selects links that are list elements within an unordered list within the nav element. */
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff9a26;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffecd6;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffecd6;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffecd6;
}
